<h1>Cats for Rent</h1>

<div class="col-md-12">
  <ul class="list-group">
    <% @cats.each do |cat| %>
      <li class="list-group-item">
        <%= link_to cat.name, cat_url(cat) %>
      </li>
    <% end %>
  </ul>
  <a href="<%= new_cat_url %>" class="btn btn-info">Add a Cat</a>
</div>
