<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
<body>

  <div class="container content-main">
    <% if flash[:notice] %>
      <div class="row">
        <div class="alert alert-info col-md-12">
          <%= notice %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
